

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }



*{
    margin: 0;
    padding: 0;
}

/* shared style */
.button-color{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
}

body{
    background-color: rgba(241, 241, 243, 1);
}


/* nav bar design */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 50px;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 1);
}

.nav-button{
    font-size: 18px;
    font-weight: 600px;
    border: 1px solid rgba(0, 106, 80, 1);
    padding: 15px 30px;
    border-radius: 10px;
}

/* banner section design

*/
.banner-section{
    display: flex;
    justify-content: center;
    padding: 0 50px;
    margin: 20px;
}

.banner-container{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    align-items: center;
}

.banner-image{
    margin: 80px;
}

.banner-div-2{
    margin-left: 60px;
}

.banner-title-1{
    font-size: 24;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title-2{
    font-size: 56px;
    font-weight: bold;
}

.banner-button{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: none;
    border-radius: 10px;
    margin-top: 24px;
}

/* vision of future design */

.vision-of-future{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}

.vision-of-future .vision-text h1{
    font-size: 40px;
    font-weight: bold;
}

.vision-of-future .vision-text p{
    font-size: 16px;
    margin-top: 24px;
}

.vision-of-future .vision-container{
    display: flex;
    margin-top: 32px;
    gap: 24px;
}

.vision-of-future .vision-container .vision-container-1{
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
    padding: 32px;
}

.vision-of-future .vision-container .vision-container-1 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.vision-of-future .vision-container .vision-container-1 p{
    font-size: 16px;
    margin-top: 12px;
}

.vision-of-future .vision-container .vision-container-1 button{
    color: rgba(255, 255, 255, 1);
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    margin-top: 24px;
}



.vision-of-future .vision-container .vision-container-2{
    background-color: rgba(198, 228, 214, 1);
    border: none;
    border-radius: 16px;
    padding: 32px;
}

.vision-of-future .vision-container .vision-container-2 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.vision-of-future .vision-container .vision-container-2 p{
    font-size: 16px;
    margin-top: 12px;
}

.vision-of-future .vision-container .vision-container-2 button{
    color: rgba(255, 255, 255, 1);
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    margin-top: 24px;
}





.vision-of-future .vision-container .vision-container-3{
    background-color: rgba(247, 235, 207, 1);
    border: none;
    border-radius: 16px;
    padding: 32px;
}

.vision-of-future .vision-container .vision-container-3 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.vision-of-future .vision-container .vision-container-3 p{
    font-size: 16px;
    margin-top: 12px;
}

.vision-of-future .vision-container .vision-container-3 button{
    color: rgba(255, 255, 255, 1);
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    margin-top: 24px;
}





.vision-of-future .vision-description{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    padding: 48px 24px;
}

.vision-of-future .vision-description h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.vision-of-future .vision-description p{
    font-size: 16px;
    margin-top: 4px;
}

.recent-news{
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.recent-news h1{
    font-size: 40px;
    font-weight: bold;
}

.recent-news p{
    font-size: 16px;
    margin-top: 24px;
}

.recent-news .recent-news-div-1{
    display: flex;
    border: none;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    padding: 48px;
    gap: 32px;
}

.recent-news .recent-news-div-1 .recent-news-div-1-div-2 h2{
    font-size: 32px;
    font-weight: bold;
}

.recent-news .recent-news-div-1 .recent-news-div-1-div-2 img{
    margin-top: 12px;
}

.recent-news .recent-news-div-1 .recent-news-div-1-div-2 div{
    display: flex;
    gap: 12px;
}

.recent-news .recent-news-div-1 .recent-news-div-1-div-2 p{
    font-size: 16px;
    margin-top: 12px;
}

.recent-news .recent-news-div-1 .recent-news-div-1-div-2 button{
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}

.recent-news-div-2{
    display: flex;
    padding: 48px 48px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 24px;
    margin-top: 24px;
}

.recent-news-div-1-div-2 button{
    margin-top: 32px;
}




/* Donate today option */

.donate-today{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 100px;
    margin-top: 40px;
}

.donate-today h1{
    font-size: 40px;
    font-weight: bold;
}

.donate-today p{
    font-size: 16px;
    margin-top: 24px;
}

.donate-amount-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.donate-amount{
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 16px;
}

.amount-input{
    padding: 20px 40px;
    margin: 0 100px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    text-align: center;
    border: none;
}

.donate-today .donate-button button{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
}